@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

*{
	box-sizing:border-box;
}

body{
	font-family: 'Mulish', sans-serif;
	background-color:purple;
	color:white;

	height:100vh;
	display:flex;
	justify-content: center;
	align-items: center;

	margin:0;
	overflow:hidden;
}

.counter-container{
	display:flex;
	justify-content:center;
	flex-direction:column;

	text-align:center;

	/*margin:0px 50px;*/ /*early*/

	margin:30px 50px;/*top bottom is 30 px for mobile view*/
}

.counter{
	font-size:60px;
	margin-top:10px;
}

@media (max-width:500px){

		body{

		flex-direction:column;

		}
}
